asgiref
Django==3.2.24
django-ckeditor==6.0.0
django-constance==2.8.0
django-js-asset==1.2.2
django-picklefield==3.0.1
Pillow==10.2.0
python-memcached==1.59
pytz==2020.4
six==1.15.0
sqlparse==0.4.4
psycopg2==2.9.9
gunicorn==21.0.1