{% load static %}
{% load i18n %}
{% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ config.SITE_TITLE }}</title>
    <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static '/assets/css/main.css' %}"/>
    <link rel="icon" href="{{ MEDIA_URL }}{{ config.SITE_FAVICON }}" type="image/png" sizes="16x16">
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="{% url 'content:index' %}" class="logo"><strong>{{ config.SITE_TITLE }}</strong></a>
                <ul class="icons">
                    {% if config.SOCIAL_NETWORKS_TWITTER_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_TWITTER_URL }}" class="icon brands fa-twitter"
                               title="Twitter"><span class="label">{% translate 'Twitter' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_FACEBOOK_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_FACEBOOK_URL }}" class="icon brands fa-facebook-f"
                               title="Facebook"><span class="label">{% translate 'Facebook' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_SNAPCHAT_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_SNAPCHAT_URL }}" class="icon brands fa-snapchat-ghost"
                               title="Snapchat"><span class="label">{% translate 'Snapchat' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_INSTAGRAM_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_INSTAGRAM_URL }}" class="icon brands fa-instagram"
                               title="Instagram"><span class="label">{% translate 'Instagram' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_MEDIUM_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_MEDIUM_URL }}" class="icon brands fa-medium-m"
                               title="Medium"><span class="label">{% translate 'Medium' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_TELEGRAM_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_TELEGRAM_URL }}" class="icon brands fa-telegram"
                               title="Telegram"><span class="label">{% translate 'Telegram' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_GITHUB_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_GITHUB_URL }}" class="icon brands fa-github"
                               title="Github"><span class="label">{% translate 'Github' %}</span></a></li>
                    {% endif %}
                    {% if config.SOCIAL_NETWORKS_GITLAB_URL != '#' %}
                        <li><a href="{{ config.SOCIAL_NETWORKS_GITLAB_URL }}" class="icon brands fa-gitlab"
                               title="Gitlab"><span class="label">{% translate 'Gitlab' %}</span></a></li>
                    {% endif %}
                </ul>
            </header>
            <!-- /Header -->

            {% block content %}
            {% endblock %}

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Search -->
            <section id="search" class="alt">
                <form method="GET" action="{% url 'content:search' %}">
                    <input type="text" name="query" id="query" placeholder="{% translate 'Search' %}" required>
                </form>
            </section>
            <!-- /Search -->

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="{% url 'content:index' %}">{% translate 'Home Page' %}</a></li>
                    <li><a href="{% url 'content:blog' %}">{% translate 'Blog' %}</a></li>
                    <li>
                        <span class="opener">{% translate 'Blog Categories' %}</span>
                        <ul>
                            {% for blog_category in blog_categories %}
                                <li><a href="{% url 'content:blog_archive_by_category_pk' blog_category.pk %}">{{ blog_category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'content:videocast' %}">{% translate 'Videocast' %}</a></li>
                    <li>
                        <span class="opener">{% translate 'Videocast Categories' %}</span>
                        <ul>
                            {% for videocast_category in videocast_categories %}
                                <li><a href="{% url 'content:videocast_archive_by_category_pk' videocast_category.pk %}">{{ videocast_category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'content:podcast' %}">{% translate 'Podcast' %}</a></li>
                    <li>
                        <span class="opener">{% translate 'Podcast Categories' %}</span>
                        <ul>
                            {% for podcast_category in podcast_categories %}
                                <li><a href="{% url 'content:podcast_archive_by_category_pk' podcast_category.pk %}">{{ podcast_category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if user.is_anonymous %}
                    <li><a href="{% url 'login' %}">{% translate 'Login' %}</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">{% translate 'Logout' %}</a></li>

                    <li>
                        <span class="opener">{% translate 'Create New Objects' %}</span>
                        <ul>
                            <li><a href="{% url 'content:blog_create' %}">{% translate 'New Blog' %}</a></li>
                            <li><a href="{% url 'content:videocast_create' %}">{% translate 'New Videocast' %}</a></li>
                            <li><a href="{% url 'content:podcast_create' %}">{% translate 'New Podcast' %}</a></li>
                            <li><a href="{% url 'content:skill_create' %}">{% translate 'New Skill' %}</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">{% translate 'Create Category Object' %}</span>
                        <ul>
                            <li><a href="{% url 'content:blog_category_create' %}">{% translate 'New Blog Category' %}</a></li>
                            <li><a href="{% url 'content:videocast_category_create' %}">{% translate 'New Video Cast Category' %}</a></li>
                            <li><a href="{% url 'content:podcast_category_create' %}">{% translate 'New Podcast Category' %}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- /Menu -->

            <!-- Section - podcast -->
            <section id="podcast">
                <header class="major">
                    <h2>{% translate 'The latest Podcasts' %}</h2>
                </header>
                <div class="mini-posts">
                    {% for podcast in podcasts %}
                        <article>
                            <a href="{% url 'content:podcast_single' podcast.slug %}" class="image">
                                <img src="{{ podcast.thumbnail.url }}" alt="{{ podcast.title }}"/>
                            </a>
                            <p>{{ podcast.content | safe |truncatewords_html:15 }}</p>
                            <a href="{% url 'content:podcast_single' podcast.slug %}" class="button">{% translate 'More' %}</a>
                        </article>
                    {% endfor %}
                </div>
            </section>
            <!-- /Section - podcast -->

            {% if config.GET_IN_TOUCH_ACTIVE == 'yes' %}
                <!-- get_in_touch -->
                <section id="get_in_touch">
                    <header class="major">
                        <h2>{% translate 'Get in touch' %}</h2>
                    </header>
                    <p>{{ config.GET_IN_TOUCH_INFO | safe }}</p>
                    <ul class="contact">
                        <li class="icon solid fa-envelope">
                            <a href="mailto:{{ config.GET_IN_TOUCH_EMAIL_ADDRESS }}">{{ config.GET_IN_TOUCH_EMAIL_ADDRESS }}</a>
                        </li>
                        <li class="icon solid fa-phone">
                            {{ config.GET_IN_TOUCH_PHONE }}
                        </li>
                        <li class="icon solid fa-home">
                            {{ config.GET_IN_TOUCH_ADDRESS | safe }}
                        </li>
                    </ul>
                </section>
                <!-- /get_in_touch -->
            {% endif %}

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">
                    &copy; Untitled. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>. CMS: <a
                        href="https://github.com/mavenium/PyEditorial" title="PyEditorial">PyEditorial</a></p>
            </footer>
            <!-- /Footer -->

        </div>
    </div>

</div>

<!-- Scripts -->
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="{% static '/assets/js/browser.min.js' %}"></script>
<script src="{% static '/assets/js/breakpoints.min.js' %}"></script>
<script src="{% static '/assets/js/util.js' %}"></script>
<script src="{% static '/assets/js/main.js' %}"></script>
<!-- /Scripts -->

{% block custom_script %}
{% endblock custom_script %}

</body>
</html>