{% extends 'base.html' %}

{% block content %}
    <!-- Section - blog -->
    <section id="blog">
        <div class="posts">
            {% for blog_post in blog_posts %}
                <article>
                    <a href="{{ blog_post.slug }}" class="image" title="{{ blog_post.title }}">
                        <img src="{{ blog_post.thumbnail.url }}" alt="{{ blog_post.title }}"/>
                    </a>
                    <h3>{{ blog_post.title }}</h3>
                    <p>{{ blog_post.content | safe | truncatewords_html:30 }}</p>
                    <ul class="actions">
                        <li>
                            <a href="{{ blog_post.slug }}" class="button" title="{{ blog_post.title }}">More</a>
                        </li>
                    </ul>
                </article>
            {% endfor %}
        </div>
    </section>
    <!-- /Section - blog -->
{% endblock %}