{% extends 'base.html' %}
{% block content %}
    {% for last_post in last_blog %}
        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h1>{{ last_post.title }}</h1>
                </header>
                <p>{{ last_post.content | safe | truncatewords_html:30 }}</p>
                <ul class="actions">
                    <li>
                        <a href="{% url 'content:blog_single' last_post.slug %}" class="button big" title="{{ last_post.title }}">
                            Learn More
                        </a>
                    </li>
                </ul>
            </div>
            <span class="image object">
                <img src="{{ last_post.thumbnail.url }}" alt="{{ last_post.title }}"/>
            </span>
        </section>
        <!-- /Banner -->
    {% endfor %}

    <!-- Section - Skills -->
    <section id="skills">
        <header class="major">
            <h2>Skills</h2>
        </header>
        <div class="features">
            {% for skill in skills %}
                <article>
                    <span class="icon solid {{ skill.icon }}"></span>
                    <div class="content">
                        <h3>{{ skill.title }}</h3>
                        <p>{{ skill.description }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
    <!-- /Section -->

    <!-- Section - blog -->
    <section id="blog">
        <header class="major">
            <h2>The latest Blogs</h2>
        </header>
        <div class="posts">
            {% for blog_post in blogs %}
                <article>
                    <a href="{% url 'content:blog_single' blog_post.slug %}" class="image" title="{{ blog_post.title }}">
                        <img src="{{ blog_post.thumbnail.url }}" alt="{{ blog_post.title }}"/>
                    </a>
                    <h3>{{ blog_post.title }}</h3>
                    <p>{{ blog_post.content | safe | truncatewords_html:30 }}</p>
                    <ul class="actions">
                        <li>
                            <a href="{% url 'content:blog_single' blog_post.slug %}" class="button" title="{{ blog_post.title }}">More</a>
                        </li>
                    </ul>
                </article>
            {% endfor %}
        </div>
    </section>
    <!-- /Section - blog -->

    <!-- Section - Videocast -->
    <section id="videocast">
        <header class="major">
            <h2>The latest Videocasts</h2>
        </header>
        <div class="posts">
            {% for videocast in videocasts %}
                <article>
                    <a href="{% url 'content:videocast_single' videocast.slug %}" class="image" title="{{ videocast.title }}">
                        <img src="{{ videocast.thumbnail.url }}" alt="{{ videocast.title }}"/>
                    </a>
                    <h3>{{ videocast.title }}</h3>
                    <p>{{ videocast.content | safe | truncatewords_html:30 }}</p>
                    <ul class="actions">
                        <li>
                            <a href="{% url 'content:videocast_single' videocast.slug %}" class="button" title="{{ videocast.title }}">More</a>
                        </li>
                    </ul>
                </article>
            {% endfor %}
        </div>
    </section>
    <!-- /Section - Videocast -->
{% endblock %}